
*.swp
*.o

build
run

testboxutil/lib/

proj/codelite/boxutil.mk
proj/codelite/boxutil.txt

/proj/msvc15/.vs
/proj/msvc15/boxutil.VC.db
/proj/msvc15/boxutil.vcxproj.user
/proj/codelite/compile_flags.txt
